<div style="width: 400px; margin: auto;">
  <div class="submit-form">
    <div *ngIf="!submitted">
      <div class="form-group">
        <label for="nombrePaciente">Cita</label>
        <input
          type="text"
          class="form-control"
          id="nombrePaciente"
          required
          [(ngModel)]="cita.nombrePaciente"
          name="nombrePaciente"
        />
      </div>
      <button (click)="saveCita()" class="btn btn-success">Guardar Cita</button>
    </div>
  </div>
</div>
